{% extends 'base.html' %}

{% block title %}Reset | Password{% endblock %}

{% block content %}
    <h1>Forgotten your password?</h1>
    <p>Enter your email address to obtain a new password.</p>
    <form action="." method="post">
        {{ form.as_table }}
        <p><input type="submit" value="Send e-mail"></p>
        {% csrf_token %}
    </form>
{% endblock %}