{% extends 'base.html' %}

{% block title %}Change | Password{% endblock %}

{% block content %}
    <h1>Change your password</h1>
    <form action="{% url 'password_change' %}" method="post">
        {{ form.as_table }}
        <p><input type="submit" value="Change"></p>
        {% csrf_token %}
    </form>
{% endblock %}